@model IEnumerable<SampleCheckList5.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CheckList_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckList_Owner)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CheckList_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckList_Owner)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CheckList_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.CheckList_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CheckList_ID }) |
            @Html.ActionLink("Add Item", "Create", "Items", new { id = item.CheckList_ID }, null) |
            @Html.ActionLink("View Item", "Details", "Items", new { id = item.CheckList_ID }, null)
        </td>
    </tr>
}

</table>
