@model SampleCheckList5.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.CheckList_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.CheckList_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Items_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Items_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Items_ID }) |
    @Html.ActionLink("Back to List", "Index", "Projects")
</p>
